<!DOCTYPE html>
<html>
<head>
  <title>Nuecal</title>
  <%= stylesheet_link_tag    "application", 'active_scaffold', :media => "all" %>
  <%= javascript_include_tag "application", 'active_scaffold' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
